.icon {
  display: inline-block;
  flex: none;
  vertical-align: middle;
}

.sm {
  width: var(--icon-sm);
  height: var(--icon-sm);
}

.md {
  width: var(--icon-md);
  height: var(--icon-md);
}

.lg {
  width: var(--icon-lg);
  height: var(--icon-lg);
}
